<h2>Edit person</h2>
<form action="/person/update/<%=person.id%>" method="POST" class="form-horizontal" role="form" data-toggle="validator">
	<div class="form-group"><div class="col-sm-offset-2 col-sm-10"><%- include ../flash.ejs %></div></div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input value="<%= person.name %>" name="name" type="text" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">New password</label>
		<div class="col-sm-10">
			<input name="input-password" data-bv-identical data-bv-identical-field="input-password-confirm" placeholder="password" name="password" type="password" class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Confirm password</label>
		<div class="col-sm-10">
			<input name="input-password-confirm" data-bv-identical data-bv-identical-field="input-password" placeholder="confirm" type="password" class="form-control" />
		</div>
	</div>
	
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" value="Edit" class="btn btn-primary"/>
			<a href="/person/show/<%=person.id %>" class="btn btn-danger">Cancel</a>
		</div>
	</div>
</form>
<hr>
<a href="/person" class="btn btn-default">Back to list</a>
