<h2>People</h2>

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Saldo</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% _.forEach(people, function(person) { %>
		<tr data-id="<%=person.id %>" data-model="person">
			<td><%= person.name %></td>
	    	<td><%= person.saldo().toFixed(2) %> &euro;</td>
	    	<td><a href="/person/show/<%=person.id %>"  class="btn btn-primary btn-sm" role="button">Show</a></td>
			<td><a href="/person/edit/<%=person.id %>"  class="btn btn-primary btn-sm" role="button">Edit</a></td>
			<td>
				<form action="/person/destroy/<%=person.id %>" method="POST">
					<input type="hidden" name="_method" value="delete"/>
					<input type="hidden" name="_csrf" value="<%= _csrf %>" />
					<input type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button"/>
				</form>
			</td>
		</tr>
	<% }) %>
	</tbody>
</table>
<hr>
<a href="/person/new/" class="btn btn-primary">New person</a>
<a href="/" class="btn btn-default">Back</a>
