<div class="container">
	<h3>Person Listing</h3>
	<table class='table table-hover table-condensed'>
	<tr>

	<th>Name</th>
	<th>Saldo</th>

	<th></th>
	<th></th>
	<th></th>
</tr>
	<% _.forEach(persons, function(person) { %>
    		<tr data-id="<%=person.id %>" data-model="person">

    		<td><%= person.name %></td>
    		<td><%= person.saldo() %> &euro;</td>
		
			<td><a href="/person/show/<%=person.id %>"  class="btn btn-primary btn-sm" role="button">Show</a></td>
			<td><a href="/person/edit/<%=person.id %>"  class="btn btn-primary btn-sm" role="button">Edit</a></td>

			<td><form action="/person/destroy/<%=person.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button"/>
			</form></td>
		</tr>
<% }) %>
	</table>
	<a href="/person/new/" class="btn btn-success btn-sm" role="button">New Person</a> |
	<a href="/">all scaffolds</a>
</div>