<%
var col_class = "col-xs-" + Math.round(12 / (persons.length + 1));
var mean = persons.reduce(function(previous, current, index, array) {
	    return previous + persons[index].saldo();
	}, 0.0) / persons.length; 
%>
<div class="row">
    <div class="<%= col_class %>">&nbsp;</div>
  	<% persons.forEach(function(person) { %>
  	<div class="<%= col_class %>">
  		<h2><a href="/person/show/<%= person.id %>"><%= person.name %></a></h2>
  	</div>
	<% }) %>
</div>
<br>
<div class="row">
    <div class="<%= col_class %>">&nbsp;</div>
  	<% persons.forEach(function(person) { %>
  	<div class="<%= col_class %>">
  		<% for(var i = person.expenses.length - 1; i >= Math.max(0, person.expenses.length - 12 - 1); i--) { %>
      <% var expense = person.expenses[i]; %>
  		<div class="row">
  			<div class="col-xs-4 text-muted" style="white-space: nowrap;"><%= expense.price.toFixed(2) %> &euro;</div>
  			<div class="col-xs-8 hidden-xs text-muted">
          <a href="/expense/show/<%= expense.id %>"><%= expense.name %></a>, <%=: expense.when | formatDate %>
        </div>
        <div class="col-xs-8 visible-xs text-muted">
          <a href="/expense/show/<%= expense.id %>">...</a>
        </div>
  		</div>
  		<% } %>
  	</div>
	<% }) %>
</div>
<hr>
<div class="row">
  	<div class="<%= col_class %>">Saldo</div>
	<% persons.forEach(function(person) { %>
	<div class="<%= col_class %>">
		<p><%= person.saldo().toFixed(2) %> &euro;</p>
	</div>
	<% }) %>
</div>
<hr>
<div class="row">
  	<div class="<%= col_class %>">Delta</div>
	<% persons.forEach(function(person) { %>
	<% var delta = person.saldo() - mean; %>
	<div class="<%= col_class %>">
		<p class="<%= delta < 0 ? "text-danger" : "text-success" %>"><%= delta.toFixed(2) %> &euro;</p>
	</div>
	<% }) %>
</div>
<hr>
<p>
  <a href="/expense/new" class="btn btn-primary">Create expense</a>
  <a href="/person/new" class="btn btn-default">Create person</a>
</p>
