<h2>Expenses</h2>

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>When</th>
			<th>Price</th>
			<th>Person</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% _.forEach(expenses, function(expense) { %>
		<tr data-id="<%=expense.id %>" data-model="expense">
			<td><%= expense.name %></td>
	    	<td><%=: expense.when | formatDate %></td>
	    	<td><%= expense.price %> &euro;</td>
	    	<td><%= expense.person.name %></td>
	    	<td><a href="/expense/show/<%=expense.id %>"  class="btn btn-primary btn-sm" role="button">Show</a></td>
			<td><a href="/expense/edit/<%=expense.id %>"  class="btn btn-primary btn-sm" role="button">Edit</a></td>
			<td>
				<form action="/expense/destroy/<%=expense.id %>" method="POST">
					<input type="hidden" name="_method" value="delete"/>
					<input type="hidden" name="_csrf" value="<%= _csrf %>" />
					<input type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button"/>
				</form>
			</td>
		</tr>
	<% }) %>
	</tbody>
</table>
<hr>
<a href="/expense/new/" class="btn btn-primary">New expense</a>
<a href="/" class="btn btn-default">Back</a>
